[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
asgiref = "*"
django = "*"
django-cors-headers = "*"
pillow = "*"
pip = "*"
pytz = "*"
setuptools = "*"
sqlparse = "*"
tzdata = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.12"
