ul {
    margin: 0px;
    padding: 0px;
  }
  
  .footer-section {
    background: #151414;
    position: relative;
  }
  
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  
  .single-cta i {
    color: #cf6a00;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  
  .footer-logo {
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
  
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
  
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .footer-social-icon-a {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .facebook-bg {
    background: #3B5998;
  }
  
  .twitter-bg {
    background: #55ACEE;
  }
  
  .google-bg {
    background: #DD4B39;
  }
  
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #cf6a00;
  }
  
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget ul li a:hover {
    color: #cf6a00;
  }
  
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #cf6a00;
    padding: 13px 20px;
    border: 1px solid #cf6a00;
    top: 0;
  }
  
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  
  .copyright-text p a {
    color: #cf6a00;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-menu li:hover a {
    color: #cf6a00;
  }
  
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }

  /* Estilos para la sección superior del pie de página del sitio */
.site-footer-top {
  background-color: #cf6a00;
  background-repeat: no-repeat;

  padding-top: 30px;
  padding-bottom: 30px;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
/* Estilos para los iconos sociales */
.social-icon {
  margin: 0;
  padding: 0;
}

/* Estilos para cada elemento de icono social */
.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

/* Estilos para el enlace del icono social */
.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

/* Estilos al pasar el mouse por encima del enlace del icono social */
.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* Estilos para el texto dentro del enlace del icono social */
.social-icon-link span {
  display: block;
}

/* Estilos para la animación de giro del icono social al pasar el mouse por encima */
.social-icon-link span:hover::before {
  animation: spinAround 2s linear infinite;
}

/* Animación para girar el icono social */
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
