

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #444444;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #cf6a00;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}



#hero {
  width: 100%;
  height: 100vh;
  background: url() top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #cf6a00;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}


section {
  padding: 60px 0;
  overflow: hidden;
}


section {
  padding: 60px 0;
  overflow: hidden;
}


.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #cf6a00;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.clients {
  padding-top: 20px;
  padding-bottom: 0;
}


.features {
  padding-top: 20px;
}

.features .icon-box {
  padding-left: 15px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #cf6a00;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}


.home-social-list {
  position: absolute;
  left: 48px;
  bottom: 48px;
  margin-right: 0px;
  padding: 0px;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
}

.home-social-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: black !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.home-social-list li {
  padding-left: 0;
}

.home-social-list li a,
.home-social-list li a:visited {
  color: #000000;
}

.home-social-list li a:hover,
.home-social-list li a:focus,
.home-social-list li a:active {
  color: #cf6a00;
}

.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
}

.scrolldown i {
  padding-left: 9px;
}

.scrolldown a:hover,
.scrolldown a:focus,
.scrolldown a:active {
  color: #cf6a00 !important;
}

html[data-useragent*="MSIE 10.0"] .scrolldown,
.oldie .scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #000000 !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 48px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

@-webkit-keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}

@keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}


@media only screen and (max-width: 1200px) {
  .home-content-tablecell h3 {
    font-size: 2.1rem;
  }

  .home-content-tablecell h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1024px) {
  .home-content-tablecell h3 {
    font-size: 2rem;
  }

  .home-content-tablecell h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-content-tablecell .row {
    max-width: 600px;
  }

  .home-content-tablecell h3 {
    font-size: 1.8rem;
  }

  .home-content-tablecell h1 {
    font-size: 5.2rem;
  }

  .home-content-tablecell h1 br {
    display: none;
  }

  .home-social-list {
    left: 36px;
    bottom: 30px;
    font-size: 1.8rem;
  }

  .home-social-list::before {
    height: 30px;
  }

  .scrolldown .scroll-icon {
    font-size: 1.2rem;
    top: 24px;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
 /* #home {
    min-height: 702px;
  }
*/
  .home-content-tablecell .row {
    max-width: 480px;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.7rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .home-content-tablecell .row {
    max-width: 420px;
  }

  .home-content-tablecell h3 {
    font-size: 1.5rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.2rem;
  }

  .home-social-list {
    left: 30px;
    bottom: 30px;
    font-size: 1.8rem;
  }

  .home-social-list::before {
    height: 24px;
  }
}

@media only screen and (max-width: 400px) {
 /* #home {
    min-height: 654px;
  }
*/
  .home-content-tablecell .row {
    padding-top: 4.8rem;
    padding-bottom: 10.8rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.4rem;
  }

  .home-content-tablecell h1 {
    font-size: 3.6rem;
  }
}

@-webkit-keyframes introscroll {
  0% {
    opacity: 0;
    -webkit-transform: perspective(700px) translate3d(250px, -250px, -200px);
    transform: perspective(700px) translate3d(250px, -250px, -200px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(700px) translate3d(0px, 0px, 0px);
    transform: perspective(700px) translate3d(0px, 0px, 0px);
  }
}

@keyframes introscroll {
  0% {
    opacity: 0;
    -webkit-transform: perspective(700px) translate3d(250px, -250px, -200px);
    transform: perspective(700px) translate3d(250px, -250px, -200px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(700px) translate3d(0px, 0px, 0px);
    transform: perspective(700px) translate3d(0px, 0px, 0px);
  }
}

.introscroll2 {
  -webkit-animation: 0.7s ease-in-out 0.5s introscroll;
  animation: 0.7s ease-in-out 0.5s introscroll;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
